body {
    background: #F1EEF1;
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .me {
    background-size: cover;
  }
  .container {
    /*       background: #F1EEF1;
    border: 1px solid #D2D1D4;
    */   
    position: absolute;
    top: 5%;
    left: 79%;
    height: 360px;
    width: 360px;
  }
  .email {
    background: #fff;
    border-radius: 16px;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 200px;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .email:not(.expand) {
    cursor: pointer;
  }
  .email:not(.expand):hover {
    background: #fff;
  }
  .from {
    position: absolute;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .from-contents {
    display: flex;
    flex-direction: row;
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .to {
    opacity: 0;
    position: absolute;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .to-contents {
    transform: scale(.55);
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .avatar {
    border-radius: 12px;
    height: 24px;
    left: 6px;
    position: relative;
    top: 4px;
    width: 24px;
  }
  .name {
    font-size: 14px;
    line-height: 32px;
    margin-left: 20px;
  }

  .name2 {
    font-size: 14px;
    line-height: 32px;
    margin-left: 10px;
  }
  .top {
    background: #6422eb;
    display: flex;
    flex-direction: row;
    height: 70px;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 300px;
  }
  .avatar-large {
    border-radius: 21px;
    height: 42px;
    margin-left: 12px;
    position: relative;
    top: 14px;
    width: 42px;
  }
  .name-large {
    color: #fff;
    font-size: 16px;
    line-height: 70px;
    margin-left: 20px;
  }
  .x-touch {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    width: 50px;
  }
  .x {
    background: #fff;
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 20px;
  }
  .x-touch:hover .x {
    background: #DC143C ;
  }
  .line1 {
    background: black;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
  }
  .line2 {
    background: black;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
  }
  .bottom {
    background: #FFF;
    color:  #444247;
    font-size: 14px;
    height: 500px;
    padding-top: 5px;
    width: 300px;
  }
  .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
  }
  .twitter {
    margin-left: 16px;
    height: 30px;
    position: relative;
    top: 0px;
    width: 30px;
  }
  
  .medium {
    height: 30px;
    margin-left: 16px;
    position: relative;
    width: 30px;
  }
  .link {
    margin-left: 16px;
  }
  .link a {
    color:  #444247;
    text-decoration: none;
  }
  .link a:hover {
    color:  #777579;
  }
  .email.expand {
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    height: 330px;
    width: 300px;
  }
  .expand .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .expand .from-contents {
    transform: scale(1.91);
  }
  .expand .to {
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .expand .to-contents {
    transform: scale(1);
  }

.email2.expand2 {
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    height: 200px;
    width: 300px;
}

.email2{
    width: 250px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #0db83b;
    background: transparent;
    text-align: center;
    color: #444247;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.email2 {
    background: #fff;
    border-radius: 16px;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 200px;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
      border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .email2:not(.expand2) {
    cursor: pointer;
  }
  .email2:not(.expand2):hover {
    background: #fff;
  }
  .expand2 .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .expand2 .from-contents {
    transform: scale(1.91);
  }
  .expand2 .to {
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .expand2 .to-contents {
    transform: scale(1);
  }

.top2 {
    background: #0db83b;
    display: flex;
    flex-direction: row;
    height: 70px;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 300px;
}

.email{
    width: 200px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #6422eb;
    background: transparent;
    color: #444247;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container2{
    /*       background: #F1EEF1;
    border: 1px solid #D2D1D4;
    */
    position: absolute;
    top: 55%;
    left: 79%;
    height: 360px;
    width: 360px;
  }
  
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 40px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #696969;
    background: transparent;
    color: #696969;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #696969;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;    
    transition: 0.5s;
}

button:hover span{
    width:100%;
    
}

button:hover .text {
    width:100%;
    color: #FFF;
    
}

button:hover {
    width:100%;
    
}

button:hover{
    border:none;
}
  