body {
  background: #F1EEF1;
  font-family: sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#backgroundImg,
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
}

#container {
  float: right;
  width: 20vw;
  margin: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px #ccc;
}

#proj {
  margin-left: 10px;
}


button {
  padding: 10px 20px;
  background-color: #008080;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px #008080;
}

#upload-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px gray solid;
}

#image {
  margin-top: 10px;
}


#send {
  margin-top: 20px;
  background-color: #008080;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px #008080;
}



#image {
  margin-top: 10px;
}

#choice button {
  margin: 10px 5px 0 5px;
  background-color: #008080;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px #008080;
}