*{
    margin: 0;
    padding: 0;
    font-family : sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    overflow: hidden;
}
.banner{
    width: 100%;
    height : 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.53),rgba(0, 0, 0, 0.575));
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content : space-between;
}

.logo{
    width: 60px;
    cursor: pointer;
}

.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button a{
    text-decoration: none;
    color: #fff;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width:100%;
}

button:hover{
    border:none;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .content h1{
        font-size: 50px;
    }
    
    .content p{
        line-height: 18px;
    }
    
}

@media screen and (max-width: 420px) {
    .content h1{
        font-size: 25px;
    }
    
    .content p{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 20px;;
    }

    .content{
        margin-top: 20px;
    }

    button{
    width: 150px;
    padding: 8px 0;
    margin: 30px 20px 0px 20px;
    }

    .logo{
        width: 40px;
    }

    .navbar ul li a{
        font-size: 12px;
    }

    .navbar ul{
        margin-left:50px;
    }
    
}

@media screen and (max-width: 400px) {
    .content h1{
        font-size: 25px;
    }
    
    .content p{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 20px;;
    }
    

    .content{
        margin-top: 20px;
    }

    button{
    width: 150px;
    padding: 8px 0;
    margin: 30px 20px 0px 20px;
    }

    .logo{
        width: 38px;
    }

    .navbar ul li a{
        font-size: 1px;
    }

    .navbar ul{
        margin-left:50px;
    }
    
}