*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*width: 100%;
    min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.banner{
   width: 100%;
    height : 100vh;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content : space-between;
}

.logo{
    width: 60px;
    cursor: pointer;
}



.page{
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(3px);
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.container{
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: -0.2em 0.2em 0.5em black;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e4e1e1;
    font-family: 'Poppins', sans-serif;
}

.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    border-radius: 30%;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Dynamic Class Creation*/

.flex{
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color:#fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input{
    padding: 8px 10px;
    background: #eee;
    border: none;
    width: 50%;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid #efefef;
}

.editer{
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;
    background: grey;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}