body{
    font-family: sans-serif;
    height: 100vh;
}

#bulleInfo {
    position: fixed; 
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
    top: 10px; 
    right: 10px; 
    background-color:antiquewhite; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 20%;
    height: 90%;
    visibility: hidden;
}

.container_planning{
    height:50%;
    overflow-y: scroll;
    margin-top: 5px;
    display: flex; 
    justify-content: center;
}

#arrayPlanningLabel{
    display: flex; 
    flex-direction: column; 
    font-size: 70%; 
    border-collapse: collapse;
}

#arrayPlanning{
    display: flex; 
    flex-direction: column;
}

.reservation {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

/* .horairePlanning{
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    width: 25%; 
    height: fit-content; 
    background-color: antiquewhite; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    
} */

#start {
    margin-top: 6px;
    background-color: #CE917B;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px #CE917B;
    text-align: center;
  }

  #end {
    margin-top: 6px;
    background-color: #CE917B;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px #CE917B;
    text-align: center;
  }

.eachHourLabel:hover{
    border: 1px solid #9b6d5c;
    background-color: #9b6d5c;
}


.reserver  button {
    position: absolute;
    left: 140px;
    background-color: #CE917B;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px #CE917B;
}

.reserver  button .text_reserver{
    z-index: 99;
    color:#fff;
}

.p {
    color: #fff;
    background-color: #CE917B;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px #CE917B;
  }

#time{
    margin-top: 6px;
    background-color: #CE917B;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px #CE917B;
}

#date{
    margin-top: 6px;
    background-color: #CE917B;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px #CE917B;
}
.container_planning{
    display: flex; 
    justify-content: center;
}

#arrayPlanningLabel{
    display: flex; 
    flex-direction: column; 
    font-size: 70%; 
    border-collapse: collapse;
}

#arrayPlanning{
    display: flex; 
    flex-direction: column;
}

.horairePlanning{
    position: fixed;
    bottom: 0px; 
    right: 0px; 
    width: 20%;
    border-radius: 25px;
    height: 6%; 
    background-color: antiquewhite; 
    display: flex; 
    justify-content: space-around;
    align-items: center;   
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
}

.delete{
    text-decoration: none;
    display: inline-block;
    border-radius: 60%;
    background: #CE917B;
    color: antiquewhite;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 90%;
    margin-top:10px;
    padding-bottom: 1px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-width : 540px){
    .horairePlanning{
        position: fixed; 
        width: 100vw; 
        left:0;
        bottom: 0px; 
        right: 0px;
        border-radius: 5%;
        height: fit-content; 
        display: flex; 
        flex-direction: column; 
        align-items: center;   
    }   
}

@media screen and (min-width: 540px) and (max-width: 700px) {
    .horairePlanning{
        position: fixed; 
        width: 100vw; 
        left: 0;
        bottom: 0px; 
        right: 0px;
        border-radius: 5%;
        height: fit-content; 
        display: flex; 
        flex-direction: column; 
        align-items: center;   
    }   
}
@media screen and (max-width : 700px){
    #bulleInfo{
        width: 100vw;
        right: 0px;
    }

    .reserver button{
        position: absolute;
        left: 45%;
    }
}

@media screen and (min-width: 700px) and (max-width:1000px){
    .horairePlanning{
        width: 100vw;
        right: 0px; 

    }
}