*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 17px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

/*.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}*/

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 40px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;    
    transition: 0.5s;
}

button:hover span{
    width:100%;
}

button:hover{
    border:none;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media screen and (min-width:1200px){
    button{
        width: 250px;
        padding: 20px 0;
        margin-top: 50px;
        font-size: 22px;
    }

    nav ul li a{
        font-size: 25px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    button{
        font-size: 17px;
    }

    nav ul li a{
        font-size: 20px;
    }
    
}

@media screen and (min-width: 540px) and (max-width: 700px) {


    .content h1{
        font-size: 80px;
    }

    button{
        font-size: 17px;
    }
    
}


@media screen and (min-width: 700px) and (max-width: 913px) {


    .content h1{
        font-size: 120px;
    }

    button{
        margin-top: 40px;
        font-size: 17px;
    }

    nav ul li a{
        font-size: 27px;
    }
    
}

@media screen and (min-width: 360px) and (max-width: 540px) {


    .content h1{
        font-size: 60px;
    }

    button{
        margin-top: 40px;
        font-size: 17px;
    }
    
}